<div class="lightbox" id="{{ include.id }}">
  <div class="lightbox-content">
    <div class="lightbox-media-container">
      {% for item in include.media %}
      <div class="lightbox-slide" id="{{ include.id }}-{{ forloop.index0 }}">
        {% if item.type == "image" %}
        <img src="{{ item.src }}" alt="{{ item.caption | escape }}" />
        <div class="caption">{{ item.caption }}</div>
        {% elsif item.type == "youtube" %}
        <div class="youtube-video">
          <iframe
            src="https://www.youtube.com/embed/{{ item.src }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="caption">{{ item.caption }}</div>
        {% endif %}
        <button class="prev-button" onclick="window.location.hash='#{{ include.id }}-{% if forloop.first %}{{ include.media | size | minus: 1 }}{% else %}{{ forloop.index0 | minus: 1 }}{% endif %}'">
          &lt;
        </button>
        <button class="next-button" onclick="window.location.hash='#{{ include.id }}-{% if forloop.last %}0{% else %}{{ forloop.index0 | plus: 1 }}{% endif %}'">
          &gt;
        </button>
      </div>
      {% endfor %}
    </div>
    <a href="#!" class="close-button">&times;</a>
  </div>
</div>
