.container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
}

.sidebar {
  width: 25%;
  padding: 1rem;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 1rem;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  text-decoration: underline;
}
