body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 2rem;
    color: #333;
    background-color: #fff;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 1.5rem;
}

article {
    max-width: 650px;
    margin: 0 auto;
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

/* General Image Styling for Markdown Images */
.post-content img {
    max-width: 50%; /* Display images at 50% of available screen space */
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

/* Lightbox Overlay */
.lightbox-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Lightbox Image */
.lightbox-overlay img {
    max-width: 90%; /* Scale image to 90% of the screen size */
    max-height: 90%;
}

/* Target the Overlay When Image is Focused */
.post-content img:focus {
    outline: none; /* Remove focus outline */
}

.post-content img:focus::after {
    content: '';
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Overlay effect */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

